<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
<filter>
    <filter-name>encodeFilter</filter-name>
    <filter-class>cn.zanezz.filter.EncodeFilter</filter-class>
    <init-param>
        <param-name>encode</param-name>
        <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
        <param-name>ignore</param-name>
        <param-value>false</param-value>
    </init-param>
</filter>
<filter-mapping>
    <filter-name>encodeFilter</filter-name>
    <url-pattern>/*</url-pattern>
</filter-mapping>
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>cn.zanezz.user.web.servlet.UserServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <servlet-class>cn.itcast.vcode.servlet.VerifyCodeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>cn.zanezz.category.web.servlet.CategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Bookservlet</servlet-name>
    <servlet-class>cn.zanezz.book.web.servlet.Bookservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BookCartServlet</servlet-name>
    <servlet-class>cn.zanezz.bookcart.web.servlet.BookCartServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>cn.zanezz.admin.admin.web.servlet.AdminServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <servlet-class>cn.zanezz.admin.category.servlet.AdminCategoryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminBookServlet</servlet-name>
    <servlet-class>cn.zanezz.admin.book.web.sevrlet.AdminBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdminAddBookServlet</servlet-name>
    <servlet-class>cn.zanezz.admin.book.web.sevrlet.AdminAddBookServlet</servlet-class>
  </servlet>






 



  <servlet-mapping>
    <servlet-name>VerifyCodeServlet</servlet-name>
    <url-pattern>/VerifyCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/CategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Bookservlet</servlet-name>
    <url-pattern>/Bookservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookCartServlet</servlet-name>
    <url-pattern>/BookCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminCategoryServlet</servlet-name>
    <url-pattern>/admin/AdminCategoryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminBookServlet</servlet-name>
    <url-pattern>/admin/AdminBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdminAddBookServlet</servlet-name>
    <url-pattern>/admin/AdminAddBookServlet</url-pattern>
  </servlet-mapping>
  
</web-app>