.ta{
	width:100%;
	text-align:center;
	border-collapse:collapse;
	
}
table tr{
	
	width:100%;
	text-align:center;
}

table tr .bookna{
	width:40%;
	border-bottom:1px solid red;
	border-left:1px solid red;
}
.test{
	border-top:1px solid red;
	border-left:1px solid red;
	border-bottom:1px solid red;
	
}
#testright{
	border-right:1px solid red;
}
table .td{
	border-bottom:1px solid red;
	border-left:1px solid red;
}
.bookna{
	font:10pt 'ו'; 
}
.tdpub{
	border-bottom:1px solid red;
	border-left:1px solid red;
	border-right:1px solid red;
}
.price_n { padding-right: 10px; font-family: Arial; }

#bookname { text-decoration:#90FF90;display: block; overflow: hidden; width: 200px; font-family: Arial; }
#bookname:hover {color:#FF6600; }

.inner a:hover {color:#FF6600; }
